<h1>Robotex progress dashboard</h1>

  <p><%= link_to "Robots", robots_path %></p>
  <p><%= link_to "Tasks", tasks_path %></p>

<hr/>
<p><a href="http://robot.itcollege.ee">Estonian IT College - Robotics Club - 2010 Tallinn, Estonia</a>
<p><%= link_to "uurida graafikuid - progressi tuleb visualiseerida", "http://www.idolhands.com/ruby-on-rails/gems-plugins-and-engines/graphing-for-ruby-on-rails-with-seer"%></p>

